@import '~bootstrap/scss/bootstrap';
@import 'theme.scss';

.active-game-container {
  @include themify($themes) {
    background: themed('activeGameBackground');
    color: themed('activeGameText');
  }
  border: none
}

.active-game-participant {
  @include themify($themes) {
    background: themed('activeGameRowBackground');
    color: themed('activeGameRowText');
    
  }
  padding: 0.5rem 1rem
}

.active-game-row {
  height: 60px;
}

.button-additional-data {
  width: 100%;
  height: 100%;
  border-radius: 0 0.5em 0.5em 0;
  cursor: pointer;
}

.container-background{
  @include themify($themes) {
    background: themed('mainContainerBackground');
  }
}

.container-padding{
  width: 100%;
  max-width: 1500px;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  margin-right: auto;
  margin-left: auto;
}

.damage-bar {
  color: black !important;
}

.delete-user {
  height: 100%;
  width: 100%;
  vertical-align: middle;
  border-radius: 0 0.5em 0.5em 0;
}

.empty-item{
  width: 20px;
  height: 20px;
}

.game-lost-bg {
  @include themify($themes) {
    background: themed('gameLostBackground');
  }
}

.game-lost-text {
  @include themify($themes) {
    color: themed('gameLostText');
  }
}

.game-won-bg {
  @include themify($themes) {
    background: themed('gameWonBackground');
  }
}

.game-won-text {
  @include themify($themes) {
    color: themed('gameWonText');
  }
}

#header-title {
  font-size: 2rem;
  font-weight: bold;
}

.header {
  @include themify($themes) {
    background: themed('headerBackground');
    color: themed('headerText')
  }
  position: -webkit-sticky; 
  position: sticky;
  top: 0;
  z-index: 100;
  height: 8vh;
}

.history-game-row {
  @include themify($themes) {
    color: themed('gameRowText');
  }
  border-radius: 0.5em 0 0 0.5em !important;
  border: none;
}

.no-user-selected{
  @include themify($themes) {
    color: themed('noDataColor');
  }
}

.participant-item{
  font-size: 0.8em
}

.search-result {
  height: 3em;
  cursor: pointer;
}

.sidebar {
  height: 92vh;
  overflow-y: scroll;
  position: sticky;
  top: 8vh;
  z-index: 1;
}

.spinner{
  @include themify($themes) {
    color: themed('noDataColor');
  }
}

.team-blue {
  border-left: 4px solid blue;
}

.team-red {
  border-left: 4px solid red;
}

.themed-button {
  @include themify($themes) {
    color: themed('matchButtonText');
    background-color: themed('matchButtonBackground');
    border-color: themed('matchButtonBackground');
    --bs-btn-hover-color: themed('matchButtonText');
    --bs-btn-hover-bg: themed('matchButtonBackgroundHover');
    --bs-btn-hover-border-color: themed('matchButtonBackgroundHover');
    --bs-btn-active-color: themed('matchButtonText');
    --bs-btn-active-bg: themed('matchButtonBackgroundActive');
    --bs-btn-active-border-color: themed('matchButtonBackgroundActive');
  }
}

.themed-button:hover {
  @include themify($themes) {
    color: themed('matchButtonText');
    background-color: themed('matchButtonBackgroundHover');
    border-color: themed('matchButtonBackgroundHover');
  }
}

.themed-button:active {
  @include themify($themes) {
    color: themed('matchButtonText');
    background-color: themed('matchButtonBackgroundActive');
    border-color: themed('matchButtonBackgroundActive');
  }
}

.user-item {
  @include themify($themes) {
    background: themed('userBackground');
    color: themed('userText');
  }
  border: none;
}

.user-item:hover {
  @include themify($themes) {
    background: themed('userBackgroundHover');
  }
  cursor: pointer;
}

.username-input {
  border-radius: 0.375rem;
  padding: 1em;
  border: 1px solid #ffffff;
  width: 100%;
  @include themify($themes) {
    background: themed('usernameInputActiveBackground');
    color: themed('usernameInputActiveColor');
    border-color: themed('usernameInputActiveBackground');
    outline-color: themed('usernameInputActiveBackground');
  }  
}

.username-input::placeholder {
  @include themify($themes) {
    background: themed('usernameInputActiveBackground');
    color: themed('usernameInputDefaultColor');
    border-color: themed('usernameInputActiveBackground');
  }
}

.username-input:focus {
  @include themify($themes) {
    background: themed('usernameInputActiveBackground');
    color: themed('usernameInputActiveColor');
    border-color: themed('usernameInputActiveBackground');
    outline: none;
  }
}

.username-input:focus::placeholder {
  @include themify($themes) {
    background: themed('usernameInputActiveBackground');
    color: themed('usernameInputActiveColor');
  }
}

.username-loading{
  @include themify($themes) {
    background: themed('searchResultLoadingBackground');
    color: themed('searchResultLoadingColor');
  }
}

.username-found{
    background: unset;
    color: unset;
    border: none;
}

.username-not-found{
  @include themify($themes) {
    background: themed('searchResultNotFoundBackground');
    color: themed('searchResultNotFoundColor');
  }
}

.username-result {
  height: 50px;
  width: 60%;
  border-radius: 0.375rem;
}

.username-input::placeholder {
  background-color: #115994;
  color: #FFF
}

.user-name-lvl {
  font-size: medium;
  font-weight: bold;
}

.user-row {
  border-radius: 0.5em 0 0 0.5em;
  cursor: pointer
}

.user-row-selected {
  border-left: 8px solid #0d6efd;
}

.user-rank {
  font-size: small;
  font-weight: lighter;
  margin-bottom: 0px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #bbbcbd;
}