@import '~bootstrap/scss/bootstrap';

.active-game-row{
  height: 60px;
}

.delete-user{
  height: 100%;
  width: 100%;
  vertical-align: middle;
  border-radius: 0 0.5em 0.5em 0;
}

.history-game-row{
  border-radius: 0.5em;
}

#header-title {
  font-size: 2rem;
  font-weight: bold;
  color: whitesmoke;
}

.header {
  height: 10vh; 
  position: fixed; 
  top: 0;
  width: 100%;
  z-index: 1
}

.main-container {
  margin-top: 10vh;
  margin-left: 25vw;
  z-index: 2
}


.search-result {
  height: 3em;
}


.search-result:hover {
  cursor: pointer;
}


.sidebar {
  width: 25vw;
  margin-top: 10vh;
  height: 90vh;
  overflow-y: scroll;
  position: fixed; 
  left: 0;
  z-index: 1;
}

.team-blue{
  border-left: 4px solid blue;
}

.team-red{
  border-left: 4px solid red;
}

.user-item:hover{
  background-color: #F8F9FA !important;
}

.user-row {
  border-radius: 0.5em 0 0 0.5em;
  cursor: pointer
}

.user-row-selected{
  border-left: 8px solid #0d6efd;

}

.user-name-lvl {
  font-size: medium;
  font-weight: bold;
}

.user-rank {
  font-size: small;
  font-weight: lighter;
  margin-bottom: 0px;
}