@import '~bootstrap/scss/bootstrap';
@import 'theme.scss';

* {
  font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen-Sans, Ubuntu, Cantarell, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol
}

.active-game-container {
  @include themify($themes) {
    background: themed('activeGameBackground');
    color: themed('activeGameText');
  }

  border: none
}

.active-game-participant {
  @include themify($themes) {
    background: themed('activeGameRowBackground');
    color: themed('activeGameRowText');

  }

  padding: 0.5rem 1rem
}

.active-game-row {
  height: 60px;
}

.button-additional-data {
  width: 100%;
  height: 100%;
  border-radius: 0;
  cursor: pointer;
}

.button-username {
  background: none;
  border: none;
  color: #0074d9;
  text-decoration: underline;
  cursor: pointer;
  padding: 0;
  font: inherit;
}

.button-username:hover {
  text-decoration: none;
  background: none;

}

.container-background {
  @include themify($themes) {
    background: themed('mainContainerBackground');
  }
}

.container-padding {

  max-width: 1500px;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  margin-right: auto;
  margin-left: auto;
}


.daily-session-header {
  @include themify($themes) {
    background: linear-gradient(90deg, themed('dailySessionBackgroundStart'), themed('dailySessionBackgroundEnd'));
    color: themed('sessionColor')
  }

  padding: 5px;
}


.delete-user {
  height: 100%;
  width: 100%;
  vertical-align: middle;
  border-radius: 0 0.5em 0.5em 0;
}

.empty-item {
  display: inline-block;
  background-color: transparent;
}

.full-session-header {
  @include themify($themes) {
    background: themed('fullSessionBackground');
    color: themed('sessionColor')
  }

  border-radius: 5px 5px 0 0;
  padding: 10px;
}

.game-lost-bg {
  @include themify($themes) {
    background: linear-gradient(180deg, themed('gameLostBackgroundStart'), themed('gameLostBackgroundEnd'));
  }
}

.game-lost-text {
  @include themify($themes) {
    color: themed('gameLostText');
  }
}

.game-won-bg {
  @include themify($themes) {
    background: linear-gradient(180deg, themed('gameWonBackgroundStart'), themed('gameWonBackgroundEnd'));
  }
}

.game-won-text {
  @include themify($themes) {
    color: themed('gameWonText');
  }
}

#header-title {
  font-size: 2rem;
  font-weight: bold;
}

.header {
  @include themify($themes) {
    background: linear-gradient(90deg, themed('headerBackgroundStart'), themed('headerBackgroundEnd'));
    color: themed('headerText')
  }

  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 100;
  height: 8vh;
}

.history-game-row {
  @include themify($themes) {
    color: themed('gameRowText');
  }

  border-radius: 0 !important;
  border: none;
}

.no-user-selected {
  @include themify($themes) {
    color: themed('noDataColor');
  }
}

.participant-damage-dealt {
  font-size: 1em;
  color: #DA3A45
}

.participant-damage-taken {
  font-size: 1em;
  color: #7f7f7f
}

.participant-damage-bar {
  border-radius: 0rem;
  height: 6px;
  border-radius: 1em;
}

.participant-item {
  border: 1px solid #dedede;
  margin-right: 2px
}

.participant-score-row {
  font-size: 0.8em; 
  border-bottom: 1px solid #a8a8a8;
  padding-bottom: 0.5em;
  padding-top: 0.5em;
}

.participant-team .participant-score-row:first-child, .participant-team .participant-score-row:first-child{
  border-top: 1px solid #a8a8a8;
}


.participant-summoner-name {
  font-weight: bold;
  font-size: 1em;
}

.participant-summoner-level {
  font-weight: lighter;
  font-size: 1em;
}

.rank-emblem {
  transform: scale(2);
}

.search-result {
  height: 3em;
  cursor: pointer;
}

.session-average {
  font-size: 1.2rem;
  font-weight: 500;
}

.session-date {
  font-size: 1.2rem;
  font-weight: 400;
}



.session-result {
  font-size: 1.4rem;
  font-weight: 600;
}

.sidebar {
  height: 92vh;
  overflow-y: scroll;
  position: sticky;
  top: 8vh;
  z-index: 1;
}

.spinner {
  @include themify($themes) {
    color: themed('noDataColor');
  }
}

.team-blue {
  border-left: 4px solid blue;
}

.team-red {
  border-left: 4px solid red;
}

.themed-button {
  @include themify($themes) {
    color: themed('matchButtonText');
    background-color: themed('matchButtonBackground');
    border-color: themed('matchButtonBackground');
    --bs-btn-hover-color: themed('matchButtonText');
    --bs-btn-hover-bg: themed('matchButtonBackgroundHover');
    --bs-btn-hover-border-color: themed('matchButtonBackgroundHover');
    --bs-btn-active-color: themed('matchButtonText');
    --bs-btn-active-bg: themed('matchButtonBackgroundActive');
    --bs-btn-active-border-color: themed('matchButtonBackgroundActive');
  }
}

.themed-button:hover {
  @include themify($themes) {
    color: themed('matchButtonText');
    background-color: themed('matchButtonBackgroundHover');
    border-color: themed('matchButtonBackgroundHover');
  }
}

.themed-button:active {
  @include themify($themes) {
    color: themed('matchButtonText');
    background-color: themed('matchButtonBackgroundActive');
    border-color: themed('matchButtonBackgroundActive');
  }
}

.user-item {
  @include themify($themes) {
    background: themed('userBackground');
    color: themed('userText');
  }

  border: none;
}

.user-item:hover {
  @include themify($themes) {
    background: themed('userBackgroundHover');
  }

  cursor: pointer;
}

.username-input {
  border-radius: 0.375rem;
  padding: 1em;
  border: 1px solid #ffffff;
  width: 100%;

  @include themify($themes) {
    background: themed('usernameInputActiveBackground');
    color: themed('usernameInputActiveColor');
    border-color: themed('usernameInputActiveBackground');
    outline-color: themed('usernameInputActiveBackground');
  }
}

.username-input::placeholder {
  @include themify($themes) {
    background: themed('usernameInputActiveBackground');
    color: themed('usernameInputDefaultColor');
    border-color: themed('usernameInputActiveBackground');
  }
}

.username-input:focus {
  @include themify($themes) {
    background: themed('usernameInputActiveBackground');
    color: themed('usernameInputActiveColor');
    border-color: themed('usernameInputActiveBackground');
    outline: none;
  }
}

.username-input:focus::placeholder {
  @include themify($themes) {
    background: themed('usernameInputActiveBackground');
    color: themed('usernameInputActiveColor');
  }
}

.username-loading {
  @include themify($themes) {
    background: themed('searchResultLoadingBackground');
    color: themed('searchResultLoadingColor');
  }
}

.username-found {
  background: unset;
  color: unset;
  border: none;
}

.username-not-found {
  @include themify($themes) {
    background: themed('searchResultNotFoundBackground');
    color: themed('searchResultNotFoundColor');
  }
}

.username-result {
  height: 50px;
  width: 60%;
  border-radius: 0.375rem;
}

.username-input::placeholder {
  background-color: #115994;
  color: #FFF
}

.user-name {
  font-size: medium;
  font-weight: bold;
  word-wrap: break-word;
}

.user-row {
  border-radius: 0.5em 0 0 0.5em;
  cursor: pointer
}

.user-row-selected {
  border-left: 8px solid #0d6efd;
}

.user-lp-annotation {
  font-size: 1.15rem;
  padding-left: 0.35rem;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.5em;
  font-weight: 700;
}

.user-rank-details {
  font-size: 2rem;
  font-weight: 700;
}

.user-rank-sub {
  font-size: 0.8rem;
}

.user-rank-title {
  font-size: 1rem;
}

.user-winrate {
  font-size: small;
  font-weight: lighter;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #565758;
}