
$themes: (
  light: (
    headerBackgroundStart: #5383E8,
    headerBackgroundEnd: #4066b7,
    headerText: #eee,
    userBackground: #fff,
    userBackgroundHover: #cfcfcf,
    userText: #000,
    activeGameBackground: #fff,
    activeGameText: #000,
    activeGameRowBackground: #fff,
    activeGameRowText: #000,
    mainContainerBackground: #eee,
    gameWonBackgroundStart: #a8bce7,
    gameWonBackgroundEnd: #cadbff,
    gameWonText: #4171D6,
    gameLostBackgroundStart: #eabbc2,
    gameLostBackgroundEnd: #ffd7dd,
    gameLostText: #D71A45,
    gameRowText: #212529,
    matchButtonText: #FFF,
    matchButtonBackground: #7b98d9,
    matchButtonBackgroundHover: #627bb0,
    matchButtonBackgroundActive: #91b4fe,
    usernameInputPlaceholderColor: #EEE,
    usernameInputPlaceholderBackground: #EEE,
    usernameInputActiveColor: #000000,
    usernameInputActiveBackground: #fff,
    usernameInputDefaultColor: #7f7f7f,
    usernameInputDefaultBackground: #fff,
    searchResultLoadingColor: #FFF,
    searchResultLoadingBackground: #79D0A7,
    searchResultNotFoundColor: #FFF,
    searchResultNotFoundBackground: #ffd7dd,
    noDataColor: #000,
    sessionColor: #000,
    winColor: #5EEA93,
    loseColor: #EF4C62,
    fullSessionBackground: #FFF,
    dailySessionBackgroundStart: #ebebeb,
    dailySessionBackgroundEnd: #f9f8f8
  ),
  dark: (
    headerBackgroundStart: #093459,
    headerBackgroundEnd: #0e497d,
    headerText: #e2e3e5,
    userBackground: #081F33,
    userBackgroundHover: #0b2c4a,
    userText: #fff,
    activeGameBackground: #0b2a45,
    activeGameText: #fff,
    activeGameRowBackground: #081F33,
    activeGameRowText: #fff,
    mainContainerBackground: #051421,
    gameWonBackgroundStart: #314060,
    gameWonBackgroundEnd: #37486c,
    gameWonText: #4983E8,
    gameLostBackgroundStart: #59343b,
    gameLostBackgroundEnd: #6c464c,
    gameLostText: #DA3A45,
    gameRowText: #e2e3e5,
    matchButtonText: #FFF,
    matchButtonBackground: #304c64,
    matchButtonBackgroundHover: #243849,
    matchButtonBackgroundActive: #5e86a9,
    usernameInputActiveColor: #ffffff,
    usernameInputActiveBackground: #0e4f85,
    usernameInputDefaultColor: #88A3BB,
    usernameInputDefaultBackground: #0e4b7d,
    searchResultLoadingColor: #FFF,
    searchResultLoadingBackground: #42688a,
    searchResultNotFoundColor: #FFF,
    searchResultNotFoundBackground: #59343b,
    noDataColor: #e2e3e5,
    sessionColor: #fff,
    winColor: #5EEA93,
    loseColor: #EF4C62,
    fullSessionBackground: #082238,
    dailySessionBackgroundStart: #0A2740,
    dailySessionBackgroundEnd: #093358
  ),
);

@mixin themify($themes) {
    @each $theme, $map in $themes {
      .theme-#{$theme} & {
        $theme-map: () !global;
        @each $key, $submap in $map {
          $value: map-get(map-get($themes, $theme), '#{$key}');
          $theme-map: map-merge(
            $theme-map,
              (
                $key: $value,
              )
            ) !global;
          }
          @content;
          $theme-map: null !global;
        }
     }
  }
  @function themed($key) {
    @return map-get($theme-map, $key);
  }